<div class="product-container">
  <a [routerLink]="['/product/', product.id]">
    <img src="{{ product.url }}" class="product-image" />
  </a>
  <p>{{ product.name }}</p>
  <p>{{ product.price }}</p>
  <!-- <select
    [(ngModel)]="selectedQuantity"
    name="quantity"
    id="quantity"
    class="select-input"
  >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select> -->
  <!-- <button
    class="btn btn-primary"
    (click)="addToCart(product, selectedQuantity)"
  >
    Add to cart!
  </button> -->
</div>
