.product-image {
  list-style-type: none;
  width: 290px;
  padding: 20px;
  margin: 6px 6px;
  border: 1px solid #33b5e5;
}

.product-container {
  @apply flex flex-wrap flex-col items-center justify-start mt-32;
}

.select-input {
  width: 108px;
  margin-bottom: 8px;
}
