<div class="product-container">
  <a [routerLink]="['/product/', product.id]">
    <img src="{{ product.url }}" class="product-image" />
  </a>
  <p>{{ product.name }}</p>
  <p>{{ product.price }}</p>
  <div class="flex flex-row justify-between items-center">
    <select
      [(ngModel)]="quantity"
      name="quantity"
      id="quantity"
      class="m-3 border-yellow-600 border rounded h-8 w-10"
    >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button
      class="text-white rounded bg-yellow-500 hover:bg-yellow-300 h-8 w-24"
      (click)="addToCart()"
    >
      Add to cart!
    </button>
  </div>
</div>
